#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  
  text-align: center;
  justify-content: center;
}

:root {
  --sidebar-width: 13vw;
  --main-container-width: calc(100vw - var(--sidebar-width) - 60px);

  --card-link-hover-color: rgb(114, 6, 61);
}

.layout {
  display: flex;
  flex-direction: row;

  column-gap: 30px;
}


/* GENERAL */

.block {
  display: block;
}


/* SIDEBAR */

.sidebar {
  width: var(--sidebar-width);
}

.sidebar-link {
  display: block;

  padding: 15px 10px;
  /* margin: 20px; */
  border-radius: 10px;

  transition: 
    background-color 250ms;
}

.sidebar-link:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.216);
}


/* MAIN CONTAINER */

.main-ctn {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  width: var(--main-container-width);
  box-sizing: border-box;
}


/* CREATE AGENT */

.create-form {

}

.create-form label {

}

.create-form input {

}

.create-form textarea {
  
}


/* LIST AGENT */

.list-ctn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;

  justify-content: space-evenly;
}


/* EDIT AGENT */

.edit-delete-btn {
  width: 150px;
  
  background-color: firebrick;
}

/* CARDS */

.card-link {
  transition: color 250ms;
}

.card-link:hover {
  color: var(--card-link-hover-color);
}

.card-section {
  width: 200px;
  height: 250px;

  flex: 1;

  padding: 1.5rem 2rem;

  background-color: rgba(139, 160, 178, 0.759);
}

/* EXTRA */

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}