#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  
  text-align: center;
  justify-content: center;
}

:root {
  --sidebar-width: 13vw;
  --main-container-width: calc(100vw - var(--sidebar-width) - 60px);

  --card-link-hover-color: rgb(114, 6, 61);
}

.layout {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

.layout-bottom {
  display: flex;
  flex-direction: row;
}


/* TOP NAV */

.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;

  column-gap: 10px;

  padding: 10px 15px;

  max-height: 75px;
}

.topnav h2 {
  margin: 0 0;

  height: 50px;
  display: flex;
  align-items: center;
}

/* SIDEBAR */

.sidebar {
  width: var(--sidebar-width);
}

.sidebar-link {
  display: block;

  padding: 15px 10px;
  /* margin: 20px; */
  border-radius: 10px;

  transition: 
    background-color 250ms;
}

.sidebar-link:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.216);
}

.sidebar-btn {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  overflow: visible;
  
  border-radius: 17px;

  transition: background-color 250ms;
}

.sidebar-btn:hover {
  background-color: rgba(220, 220, 220, 0.178);
  border: none;
}

.sidebar-btn img {
  filter: invert(1);
}


/* MAIN CONTAINER */

.main-ctn {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  width: var(--main-container-width);
  box-sizing: border-box;
}


/* CREATE FORM */

.create-form {

}

.create-form label {

}

.create-form-role {
  padding: 10px;
  margin: 10px 10px;
}

.create-form-role-label {
  margin: 0.4rem;
}

.create-form-role-radio {
  
}

.create-form textarea {
  
}


/* CREATE AGENT */

.create-ctn {
  max-width: 1000px;
}

/* LIST AGENT */

.list-ctn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;

  justify-content: space-evenly;
}


/* EDIT AGENT */

.edit-delete-btn {
  width: 150px;
  
  background-color: firebrick;
}

/* CARDS */

.card-link {
  transition: color 250ms;
}

.card-link:hover {
  color: var(--card-link-hover-color);
}

.card-section {
  width: 200px;
  height: 250px;

  flex: 1;

  padding: 1.5rem 2rem;

  background-color: rgba(139, 160, 178, 0.759);

  box-shadow: 10px 5px 20px 0px green;
}

/* EXTRA */

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.block {
  display: block;
}

.rainbow {
  box-shadow: 7px -5px 10px #4c0082b6, 
              11px -9px 10px #0000ff71, 
              16px -14px 10px #00ff007d, 
              20px -17px 10px #ffff0093, 
              24px -19px 10px #ff8000d7, 
              27px -23px 10px #eb1818af, 
              5px 5px 15px 5px #0000;
}
