#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  
  text-align: center;
  justify-content: center;
}

:root {
  --sidebar-width: 13vw;
  --main-container-width: calc(100vw - var(--sidebar-width) - 60px);
}

.layout {
  display: flex;
  flex-direction: row;

  column-gap: 30px;
}


/* GENERAL */

.block {
  display: block;
}


/* SIDEBAR */

.sidebar {
  width: var(--sidebar-width);
}

.sidebar-link {
  display: block;

  padding: 15px 10px;
  /* margin: 20px; */
  border-radius: 10px;

  transition: 
    background-color 0.25s;
}

.sidebar-link:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.216);
}


/* MAIN CONTAINER */

.main-ctn {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  width: var(--main-container-width);
  box-sizing: border-box;
}


/* CREATE AGENT */

.create-form {

}

.create-form label {

}

.create-form input {

}

.create-form textarea {
  
}

/* EXTRA */

